<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to QuoteMe, <%= @user.email %>!</h1>
    <p>
      Thanks for signing up! Click the link below to get started:
    </p>
    <p>
      <%= link_to 'Login', @url %>
    </p>
  </body>
</html>