<div class="intro">

  <div class="explain">
  <h1>Invoice Smarter, Not Harder <br>Free Invoicing Made Easy!</h1>
  <p>Our free invoicing system is designed to simplify your billing process, allowing you to create and send professional invoices in just a few clicks.</p>
  
        <a class="signup-home" href="/users/sign_up">Create a Free Account</a>
  
  </div>

  <div style="width:100px"></div>
  <div class="homeimage">
    <%=image_tag 'home.svg' %>
  </div>

</div>