<br><Br><br><Br>

<h1>Free!</h1>
<p>1. All we ask is that you share with your friends!</p>

<br>
<h2>Become a Sponsor</h2>
<p>If you like what we do you can help us inprove by becoming a sponsor.</p>
<br>
<h4>Silver Sponsor</h4>
<br>

<p>R50 per month</p><br>  
<a href="https://paystack.com/pay/1lyjtmikls"  class="button">BECOME SILVER SPONSOR </a>
<br><br>    
<h4>Bronze Sponsor</h4>
<br>
<p>R9 per month</p><br>
<a href="https://paystack.com/pay/ad9hxgq2pk"  class="button">BECOME BRONZE SPONSOR</a>
<br><br> 
<p>Powered by PayStack</p>